server:
  port: 5000

spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: LoginSignUpUsers
          uri: http://localhost:5001
          predicates:
            - Method=GET,POST
            - Path=/usersRegistration/**
          filters:
            - RewritePath=/usersRegistration/(?<segment>.*),/$\{segment}
          metadata:
            cors:
              allowedOrigins: http://localhost:63343
              allowedMethods: GET,POST
